
body {
    background-image: url("images/511284.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#header {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    text-decoration-line: line-through;

}

#gameContainer {

}
